<h1>Welcome to Contact Congress</h1>

<%#= render 'form' %>

<h2>Thinking of sending a letter to your congressman?</h2>
<%= form_for(@letter) do |f| %>

  <div class="actions">
    <%= f.submit "Get Started!"%>
  </div>
<% end %>


<%= link_to 'Back', letters_path %>
