<ul>
	<% @letter.congressmen.each do |congressman|%>
		<li><%="#{congressman.name}, #{congressman.state.name}, #{congressman.chamber}"%></li>
	<% end %>
</ul>

<a href="/letter_steps/content" class="btn btn-default">Write your content</a>
