<%=form_for @letter, url: wizard_path do |f|%>
	<div class="form-group">
		<%= f.label :content%><br>
		<%= f.text_area :content%>
	</div>
	<%= f.submit "one last thing", class: "btn btn-default" %>
<% end %>