// Place all the styles related to the letter_steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea {
	width: 100%;
	height: 300px;
}

html, body {
	height: 100%;
}

.container {
	height: 100%;
}

#content {
	height: 100%;	
	background-image: url('light-blue.webp');
}
